<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=localhost;user id=sa;password=;initial catalog=book09"/>
	</appSettings>
	<system.web>
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
		</httpHandlers>
		<!--  動態調試編譯
          設置 compilation debug="true" 以啟用 ASPX 調試。否則，將此值設置為
          false 將提高此應用程式的運行時性能。
          設置 compilation debug="true" 以將調試符號(.pdb 信息)
          插入到編譯頁中。因為這將創建執行起來
          較慢的大檔，所以應該只在調試時將此值設置為 true，而在所有其他時候都設置為
          false。有關更多資訊，請參考有關
          調試 ASP.NET 文件的文檔。
    -->
		<compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/></compilers>
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--  自定義錯誤資訊
          設置 customErrors mode="On" 或 "RemoteOnly" 以啟用自定義錯誤資訊，或設置為 "Off" 以禁用自定義錯誤資訊。 
          為每個要處理的錯誤添加 <error> 標記。

          "On" 始終顯示自定義(友好的)資訊。
          "Off" 始終顯示詳細的 ASP.NET 錯誤資訊。
          "RemoteOnly" 只對不在本地 Web 伺服器上運行的
           用戶顯示自定義(友好的)資訊。出於安全目的，建議使用此設置，以便 
           不向遠端用戶端顯示應用程式的詳細資訊。
    -->
		<customErrors mode="RemoteOnly"/>
		<!--  身份驗證 
          此節設置應用程式的身份驗證策略。可能的模式是 "Windows"、 
          "Forms"、 "Passport" 和 "None"

          "None" 不執行身份驗證。 
          "Windows" IIS 根據應用程式的設置執行身份驗證 
            (基本、簡要或集成 Windows)。在 IIS 中必須禁用匿名訪問。
          "Forms" 您為用戶提供一個輸入憑據的自定義表單(Web 頁)，然後 
           在您的應用程式中驗證他們的身份。用戶憑據標記存儲在 Cookie 中。
          "Passport" 身份驗證是通過 Microsoft 的集中身份驗證服務執行的，
           它為成員站點提供單獨登錄和核心配置檔服務。
    -->
		<authentication mode="Forms">
			<forms name="ch81" loginUrl="Login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--  應用程式級別跟蹤記錄
          應用程式級別跟蹤為應用程式中的每一頁啟用跟蹤日誌輸出。
          設置 trace enabled="true" 可以啟用應用程式跟蹤記錄。如果 pageOutput="true"，則
          在每一頁的底部顯示跟蹤資訊。否則，可以通過流覽 Web 應用程式
           根目錄中的 "trace.axd" 頁來查看
          應用程式跟蹤日誌。
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  會話狀態設置
          默認情況下，ASP.NET 使用 Cookie 來標識哪些請求屬於特定的會話。
          如果 Cookie 不可用，則可以通過將會話識別字添加到 URL 來跟蹤會話。
         若要禁用 Cookie，請設置 sessionState cookieless="true"。
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  全球化
          此節設置應用程式的全球化設置。
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
